.navbar-inverse {
    background-color: #CC0000;
    border-color: #CC0000;
}

.navbar-inverse .navbar-brand {
    color: #F5F5F5;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F5F5F5;
}

.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FFFFFF;
}

h2 {
    color: #CC0000;
}