@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Austin, Texas<br />
    Phone: 512.799.4767
</address>

<address>
    <strong>Support:</strong> <a href="mailto:admin@cardinal.software">admin@cardinal.software</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@cardinal.software">marketing@cardinal.software</a>
</address>
