@{
    ViewData["Title"] = "Home Page";
}
@*<h2>Cardinal Home Page</h2>*@
<br />
<section>
    <div class="container-fluid">
        <div class="row">
            <img src="~/img/cardinal-transparent.png" />
            @*<img src="~/img/cardinal_iphone8silver_portrait.png" />*@
        </div>
    </div>
</section>
